body{
  background-color:rgb(247, 11, 161);
}


#countLabel{
  display:block;
  text-align: center;
  font-size: 10em;
  font-family:Arial;
}


#btnContainer{
text-align: center;
}

.buttons{
  padding:10px 20px ;
  font-size: 1.5em;
  color:white;
  background-color:black;
  border: none;
  margin-left:10px;
  margin-right:10px;
  border-radius:10px ;
  cursor: pointer;
  transition:background-color:0.25s;

}

.buttons:hover{
  background-color:rgb(231, 229, 229);
  color:black
}